<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">All Staff</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li><a class="parent-item" href="">Other Staff</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">All Staff</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line">
                    <ul class="nav customtab nav-tabs" role="tablist">
                        <li class="nav-item"><a href="all_staffs.html#tab1" class="nav-link active" data-bs-toggle="tab">List
                                View</a></li>
                        <li class="nav-item"><a href="all_staffs.html#tab2" class="nav-link" data-bs-toggle="tab">Grid
                                View</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fontawesome-demo" id="tab1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-head">
                                            <header></header>
                                            <div class="tools">
                                                <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                            </div>
                                        </div>
                                        <div class="card-body ">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group">
                                                        <a href="https://radixtouch.com/templates/admin/smart/source/light/add_staff_material.html" id="addRow" class="btn btn-info">
                                                            Add New <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-6">
                                                    <div class="btn-group pull-right">
                                                        <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-bs-toggle="dropdown">Tools
                                                            <i class="fa fa-angle-down"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <i class="fa fa-print"></i> Print </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">
                                                                    <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-scrollable">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th> Name </th>
                                                            <th> Designation </th>
                                                            <th> Mobile </th>
                                                            <th> Email </th>
                                                            <th> Address </th>
                                                            <th>Joining Date</th>
                                                            <th> Action </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="odd gradeX">
                                                            <td class="patient-img">
                                                                <img src="/assets/img/std/std1.jpg" alt="">
                                                            </td>
                                                            <td>Rajesh</td>
                                                            <td class="center">Clerk</td>
                                                            <td><a href="tel:4444565756">
                                                                    4444565756 </a></td>
                                                            <td>
                                                                <a href="../../../../../cdn-cgi/l/email-protection.html#fd8e958885988fbd9a909c9491d39e9290">
                                                                    <span class="__cf_email__" data-cfemail="aad8cbc0cfd9c2eacdc7cbc3c684c9c5c7">[email&#160;protected]</span> </a>
                                                            </td>
                                                            <td class="center">22,tilak appt. surat</td>
                                                            <td class="center">22 Feb 2000</td>
                                                            <td>
                                                                <a href="#" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-pencil"></i>
                                                                </a>
                                                                <a href="#" class="btn btn-danger btn-xs">
                                                                    <i class="fa fa-trash-o "></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Kategoriya yaratish</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/user/create" method="POST">
                                            <div class="mb-4">
                                                <label>Name</label>
                                                <input type="text" name="name" class="form-control" placeholder="Foydalanuvchi nomini kiriting" />
                                            </div>
                                            <div class="mb-4">
                                                <label>Email</label>
                                                <input type="email" name="email" class="form-control" placeholder="Email kiriting" />
                                            </div>
                                            <div class="mb-4">
                                                <label>Password</label>
                                                <input type="password" name="password" class="form-control" placeholder=" Password kiriting" />
                                            </div>

                                            <button type="submit" class="btn btn-primary">Saqlash</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>